<section class="container">
  <table class="table table-striped table-hover table-bordered mt-4">
    <thead>
      <tr>
        @for (header of tableHeaders(); track $index) {
        <th>
          {{ header.text }}
        </th>
        }
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (cryptoPairs of cryptoPairs(); track cryptoPairs.firstId) {
      <tr>
        <th>
          {{ cryptoPairs.symbol
          }}<i
            (click)="handleDeleteEvent(cryptoPairs.symbol)"
            class="bi bi-trash"
          ></i>
        </th>
        <td>{{ cryptoPairs.lastPrice }}</td>
        <td>{{ cryptoPairs.priceChangePercent }}</td>
        <td>{{ cryptoPairs.volume }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
