<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center gap-2">
          <a class="nav-link" routerLink="/favorite">Go to favorite</a>
        </li>
        <li class="nav-item d-flex align-items-center gap-2">
          <a class="nav-link" routerLink="./">Go back</a>
        </li>
      </ul>
      <app-toggle-theme />
    </div>
  </nav>
</header>
