<section class="container">
  <div class="d-flex">
    <app-input-dashboard [statisticsCryptoPairs]="statisticsCryptoPairs()" />
  </div>
  <div
    class="mt-5 position-relative"
    #rootRef
    [style]="{
      height: rowHeight() * visibleRows() + 1 + 'px',
      overflow: 'auto'
    }"
  >
    @if(loading()){
    <app-loader />

    } @else {
    <div [style.height]="getTopHeight + 'px'"></div>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th #thead data-sort="symbol" (click)="sortTable('symbol')">
            Symbol

            <i class="bi bi-caret-up-fill"></i>
          </th>
          <th #thead data-sort="lastPrice" (click)="sortTable('lastPrice')">
            Last price <i class="bi bi-caret-up-fill"></i>
          </th>
          <th
            #thead
            data-sort="priceChangePercent"
            (click)="sortTable('priceChangePercent')"
          >
            Price change <i class="bi bi-caret-up-fill"></i>
          </th>
          <th #thead data-sort="volume" (click)="sortTable('volume')">
            Volume <i class="bi bi-caret-up-fill"></i>
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @for (cryptoPairs of statisticsCryptoPairs() | slice: start() : start()
        + visibleRows() + 1; track cryptoPairs.firstId) {
        <tr>
          <th>{{ cryptoPairs.symbol }}</th>
          <td>{{ cryptoPairs.lastPrice }}</td>
          <td>{{ cryptoPairs.priceChangePercent }}</td>
          <td>{{ cryptoPairs.volume }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div [style.height]="getBottomHeight + 'px'"></div>
    }
  </div>
</section>
