<section class="d-flex">
  <div class="d-flex flex-column align-items-end gap-4 flex-column">
    <div class="wrap-select">
      <select
        class="form-select"
        [(ngModel)]="time"
        (change)="changeEventSelector()"
      >
        @for (item of arrayTimeCandle(); track $index) {
        <option [value]="item">{{ item }}</option>

        }
      </select>
    </div>
    <div #chart></div>
  </div>
  <table class="table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Asks</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (asks of arrayAsks(); track $index) {
      <tr>
        <td>{{ asks[0] }}</td>
        <td>{{ asks[1] }}</td>
      </tr>
      }
    </tbody>
  </table>

  <div>
    <table class="table-sm">
      <thead>
        <tr>
          <th>Time</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Side</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.text-success]="!aggData()?.m"
          [class.text-danger]="aggData()?.m"
        >
          <td class="placeholder-glow">
            <span [class]="showPlaceholder(!aggData())"></span>
            {{ aggData()?.T | date : "HH:mm:ss" }}
          </td>

          <td class="placeholder-glow">
            <span [class]="showPlaceholder(!aggData())"></span>
            {{ aggData()?.p }}
          </td>
          <td class="placeholder-glow">
            <span [class]="showPlaceholder(!aggData())"></span>
            {{ aggData()?.q }}
          </td>
          <td>
            {{ aggData()?.m ? "Sell" : "Buy" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Bids</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
      </tr>
    </tbody>
  </table> -->
</section>
