<section class="d-flex justify-content-evenly mt-3">
  <app-toggle-theme />
  <p class="m-0">
    <a
      routerLink="/favorite"
      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >Go to favorite</a
    >
  </p>

  <div class="d-flex flex-column align-items-end gap-4 flex-column">
    <div class="wrap-select">
      <select
        class="form-select"
        [(ngModel)]="time"
        (change)="changeEventSelector()"
      >
        @for (item of arrayTimeCandle(); track $index) {
        <option [value]="item">{{ item }}</option>

        }
      </select>
    </div>
    <div #chart></div>
    <div class="d-flex gap-3">
      <app-agg-table-transaction [aggData]="aggData()" />
      <app-statistics-price-table [statisticsPrice24h]="statisticsPrice24h()" />
    </div>
  </div>

  <app-order-book
    firstHeaderTable="Asks"
    secondHeaderTable="Volume"
    [arrayData]="arrayAsks()"
  />

  <app-order-book
    firstHeaderTable="Bids"
    secondHeaderTable="Volume"
    [arrayData]="arrayBids()"
  />
</section>
